/*Menu responsive "Mobile Nav Bar" 
"https://bootsnipp.com/snippets/featured/mobile-nav-bar"
*/
body.navbar-more-show  {
	overflow: hidden;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar {
    height: calc(100%);
	max-height: 300px;
	-webkit-transform: translate(0px, calc(-100% + 69px));
	transform: translate(0px, calc(-100% + 69px));
}
.navbar .container:not(.navbar-more) {
    padding: 0px;
}
.navbar-more-overlay {
	background-color: rgba(102, 102, 102, 0.55);
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1029;
}
.navbar-more-show > .navbar-more-overlay {
	display: block;
}
.navbar-more-show > .navbar {
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}
.navbar-nav.mobile-bar {
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: stretch;
	align-items: stretch;
	margin: 0px 0px;
}
.navbar-nav.mobile-bar > li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
	text-align: center;
}
.navbar-nav.mobile-bar > li > a > span.menu-icon {
	display: block;
	font-size: 1.8em;
}
.navbar-more {
	background-color: rgb(255, 255, 255);
	height: calc(100% - 69px);
	overflow: auto;
}
.navbar-more .navbar-form {
	border-width: 0px;
}
.navbar-more .navbar-nav > li > a {
    color: rgb(64, 64, 64);   
}
.navbar-more > .navbar-nav > li > a > span.menu-icon {
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 768px) {
	.navbar {
        height: auto;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
	.navbar-nav.mobile-bar {
		display: block;
		max-height: 64px;
		margin: 0px -15px;
	}
	.navbar-nav.mobile-bar > li > a > span.menu-icon {
		display: none;
	}

}
.black_color{
	background-color: rgb(0, 0, 0);
}




/*Login dropdonw "Fancy navbar login / sign in form"
https://bootsnipp.com/snippets/featured/fancy-navbar-login-sign-in-form
*/

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,255);

    border: 4px solid rgba(0,0,0,1) !important;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
       /* background-color: inherit;
        color: #fff;*/
    }
    #login-dp .bottom{
        /*background-color: inherit;
        border-top:0 none;*/
    }
}


@media (max-width: 767px){
	.navbar-nav .open .dropdown-menu {
	    position: absolute !important;
	    margin-top: 5px !important;
	}
}

/*Luego en el login que accede al sistema*/
.user-menu{
	list-style: none;
	padding: 2px 8px 2px;
}
.user-titulo{
	padding: 3px;
	text-align: left;
    border-bottom: 1px solid rgba(53, 61, 71, 0.06)
}
.user-menu li{
	padding: 3px;
	text-align: left;
    border-bottom: 1px solid rgba(53, 61, 71, 0.06)
}
.user-menu a:hover{
	background-color: #23527c;
	color: white;
}
.user-menu a{
	color: #353d47;
	cursor: pointer;
}