<!DOCTYPE html>
<html>
<head>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/article_viewing_mobile.css" media="screen and (max-width: 768px)"/>
    <link rel="stylesheet" type="text/css" href="../static/css/article_viewing.css" media="screen and (min-width: 769px)"/>
    <link rel="stylesheet" href="../static/vendor/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/images/icon.ico" type="image/x-icon" />
    <link rel="stylesheet"  href ="../static/css/style.css">

    <!-- Scripts -->
    <script src="../static/vendor/js/jquery-3.2.1.min.js"></script>
    <script src="../static/vendor/js/bootstrap.min.js"></script>
    <script src="../static/js/control_header.js"></script>

    <!-- Otros -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ad-Libitum</title>

</head>
<body class="container">

    <!-- Header incio -->
    <div class="navbar-more-overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top animate">
        <!-- Menu al darle click en mas en pantallas pequeñas-->
        <div class="container navbar-more visible-xs">
            <!-- Buscador en pantallas pequeñas -->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="buscador_principal form-control" type="text" placeholder="Buscar en Ad-Libitum...">
                        <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <span class="menu-icon fa fa-phone"></span>     
                        Contácto
                    </a>
                </li>
                <!--<li>
                    <a href="#">
                        <span class="menu-icon fa fa-bell-o"></span>
                        Reservations
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon fa fa-picture-o"></span>
                        Photos
                    </a>
                </li>
                -->
            </ul>
        </div>
        <!-- Menu al darle click en mas en pantallas pequeñas Fin-->

        <div class="container">
            <div class="navbar-header hidden-xs">
                <a class="logo" href="index.html"> <img src="../static/images/logo.jpg"></a>
            </div>

            <ul class="nav navbar-nav navbar-right mobile-bar">
                <li class="hidden-xs">
                    <!-- Buscador en la pagina -->
                    <form class="input-group header_buscador ">
                        <input class="buscador_principal form-control" type="text" data-action="grow" placeholder="Buscar en Ad-Libitum...">
                        <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
                    </form>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon fa fa-home"></span>
                        Principal
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon glyphicon glyphicon-calendar"></span>
                        <span class="hidden-xs">Eventos musicales</span>
                        <span class="visible-xs">Eventos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                                
                        <span class="hidden-xs">Contácto</span>
                    </a>
                </li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon glyphicon glyphicon-user"></span>
                        <span class="hidden-xs">Nombre <span class="glyphicon glyphicon-user"></span><span class="caret"></span></span>
                        <span class="visible-xs">Nombre</span>
                    </a>

                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                             <div class="row">
                                    <div class="col-md-12">
                                        <div class="user-titulo">
                                            Bienvenido, <br><span class="glyphicon glyphicon-user"></span> Nombre Apellido
                                        </div>
                                        
                                        <ul class="user-menu">
                                            <li><a href="article.html">Crear artículo <i class="glyphicon glyphicon-pencil"></i></a></li>
                                            <li><a href="#">Opciones <i class="fa fa-cog"></i></a></li>
                                            <li><a href="#">Ayuda<i class="fa fa-life-ring"></i></a></li>
                                            <li><a href="index.html">Cerrar sesión <i class="fa fa-sign-out"></i></a></li>
                                        </ul>
                                         
                                    </div>

                             </div>
                        </li>
                    </ul>

                </li>

                <li class="visible-xs black_color">
                    <a href="#navbar-more-show">
                        <span class="menu-icon fa fa-bars"></span>
                        Más
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Header fin-->



    <div class="row" id="main_box">
	    <div id="left_tool_box">
		    <h2>Herramientas</h2>
		    <div id="text_recover_buttons">
		       	<button class="btn btn-warning"><b>Deshacer</b></button>
				<button class="btn btn-info">Rehacer</button>
			</div>
			<div id="tools">
				<h3>Edición</h3>
				<button class="simple_button"><i class="fa fa-bold" aria-hidden="true"></i></button>
				<button class="simple_button"><i class="fa fa-italic" aria-hidden="true"></i></button>
				<button class="simple_button"><i class="fa fa-underline" aria-hidden="true"></i></button>
                <button class="simple_button"><i class="fa fa-text-height"></i></button>
			</div>
		</div>
		<div id="right_box_text">
			<div class="element_centrator" id="title_box">
				<p>Titulo</p>
				<input class="input_fixer" id="article_title" type="text" name="article_title" placeholder="Título del artículo">
            </div>
            <div class="meta_text" id="meta_info">
                Autor: <span id="article_author">#</span> .
                Fecha: <span id="date_post">#</span> .
            </div>
			<div class="element_centrator" id="body_box">
				<textarea class="input_fixer" id="article_body" placeholder="Escribe tu artículo" ></textarea>
				<div id="option_buttons">
					<button class="btn btn-info">Cancelar</button>
					<button class="btn btn-warning">Guardar</button>
					<button class="btn btn-success">Publicar</button>
				</div>
			</div>
		</div>
    </div>
    
</body>
</html>