<!DOCTYPE html>
<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" 			href ="../static/css/style.css">
	<link rel="stylesheet" 			href ="../static/css/style_header.css">
	<link rel="stylesheet" 			href="../static/vendor/css/font-awesome.min.css">
	<link rel="stylesheet" 			href="../static/vendor/css/bootstrap.min.css">
	<link rel="shortcut icon" 	href="../static/images/icon.ico" type="image/x-icon" /> 
	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	-->
	
	<!-- scripts -->
	<script src="../static/vendor/js/jquery-3.2.1.min.js"></script>
  	<script src="../static/vendor/js/bootstrap.min.js"></script>
	<script src="../static/js/control.js"></script>
	<script src="../static/js/control_header.js"></script>
	<script src="datos_ejemplo_prototipo.json"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	-->

	<!-- Otros -->
	<meta charset="utf-8"> 
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Ad-Libitum</title>

</head>

<body class="containter-fluid">

	<!-- Header incio -->
	<div class="navbar-more-overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top animate">
		<!-- Menu al darle click en mas en pantallas pequeñas-->
		<div class="container navbar-more visible-xs">
			<!-- Buscador en pantallas pequeñas -->
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<input class="buscador_principal form-control" type="text" placeholder="Buscar en Ad-Libitum...">
						<span class="input-group-btn">
		          <button class="btn btn-default" type="button">
		            <span class="glyphicon glyphicon-search"></span>
		          </button>
		        </span>
					</div>
				</div>
			</form>

			<ul class="nav navbar-nav">
				<li>
					<a href="#">
						<span class="menu-icon fa fa-phone"></span>		
						Contácto
					</a>
				</li>
				<!--<li>
					<a href="#">
						<span class="menu-icon fa fa-bell-o"></span>
						Reservations
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-picture-o"></span>
						Photos
					</a>
				</li>
				-->
			</ul>
		</div>
		<!-- Menu al darle click en mas en pantallas pequeñas Fin-->

		<div class="container">
			<div class="navbar-header hidden-xs">
				<a class="logo" href="index.html"> <img src="../static/images/logo.jpg"></a>
			</div>

			<ul class="nav navbar-nav navbar-right mobile-bar">
				<li class="hidden-xs">
                    <!-- Buscador en la pagina -->
                    <form class="input-group header_buscador ">
                        <input class="buscador_principal form-control" type="text" data-action="grow" placeholder="Buscar en Ad-Libitum...">
                        <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
                    </form>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon fa fa-home"></span>
                        Principal
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon glyphicon glyphicon-calendar"></span>
                        <span class="hidden-xs">Eventos musicales</span>
                        <span class="visible-xs">Eventos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                                
                        <span class="hidden-xs">Contácto</span>
                    </a>
                </li>



				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="menu-icon glyphicon glyphicon-user"></span>
						<span class="hidden-xs">Nombre <span class="glyphicon glyphicon-user"></span><span class="caret"></span></span>
						<span class="visible-xs">Nombre</span>
					</a>

					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">
										<div class="user-titulo">
											Bienvenido, <br><span class="glyphicon glyphicon-user"></span> Nombre Apellido
										</div>
										
										<ul class="user-menu">
											<li><a href="article.html">Crear artículo <i class="glyphicon glyphicon-pencil"></i></a></li>
											<li><a href="#">Opciones <i class="fa fa-cog"></i></a></li>
											<li><a href="#">Ayuda<i class="fa fa-life-ring"></i></a></li>
											<li><a href="index.html">Cerrar sesión <i class="fa fa-sign-out"></i></a></li>
										</ul>
										 
									</div>

							 </div>
						</li>
					</ul>

				</li>




				<li class="visible-xs black_color">
					<a href="#navbar-more-show">
						<span class="menu-icon fa fa-bars"></span>
						Más
					</a>
				</li>
			</ul>
		</div>
	</nav>


	

	<div class="margin-top">
		<div class="row">

			<div class="hidden-xs hidden-sm col-md-3 col-lg-3">
				<div id="sidenav_barra" class="sidenav shadow border_radius">
			      <!--Reproductoir de sonido-->
			      <ul class="nav nav-pills nav-stacked">
			      	<li>
			      		<div id="cp_widget_577e9ce7-6c6b-47c9-8bf1-254f79eadc24">...</div>
			      		<script type="text/javascript">
							var cpo = []; cpo["_object"] ="cp_widget_577e9ce7-6c6b-47c9-8bf1-254f79eadc24"; cpo["_fid"] = "AIPAaLeeAGDT";
							var _cpmp = _cpmp || []; _cpmp.push(cpo);
							(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
							cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
							var c = document.getElementsByTagName("script")[0];
							c.parentNode.insertBefore(cp, c); })();
						</script>
			      	</li>
			        <li class="active"><a href="#">Todas</a></li>
			        <li><a href="#">Pop</a></li>
			        <li><a href="#">Reggaetón</a></li>
			        <li><a href="#">Clásica</a></li>
			        <li><a href="#">Jazz</a></li>
			        <li><a href="#">Indie</a></li>
			        <li><a href="#">Electrónica</a></li>
			        <li><a href="#">Hip-Hop/Rap</a></li>
			        <li><a href="#">Folklore Venezolano</a></li>
			        <li><a href="#">Latin</a></li>
			      </ul><br>
			    </div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">			
				<div id= "content">	
				
	      


					<!-- Aqui se agregará la información dinamicamente -->




					<button id="Superbutton" type="button" title="Ver más" onclick="more_elements_callback(index,increment,max_value)"> Ver más</button>									
				</div>
			</div>
		</div>
	</div>	
	
	<footer >
	    Copyright © 2018 Esta aplicación ha sido desarrollada por los estudiantes de Aplicaciones de Tecnología Internet del periodo  I-2017. Todos los derechos reservados.
	</footer>

</body>
</html>
