<!DOCTYPE html>
<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" 			href ="../static/css/style.css">
	<link rel="stylesheet" 			href ="../static/css/style_header.css">
	<link rel="stylesheet" 			href="../static/vendor/css/font-awesome.min.css">
	<link rel="stylesheet" 			href="../static/vendor/css/bootstrap.min.css">
	<link rel="shortcut icon" 	href="../static/images/icon.ico" type="image/x-icon" /> 
	<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	-->
	
	<!-- scripts -->
	<script src="../static/vendor/js/jquery-3.2.1.min.js"></script>
  	<script src="../static/vendor/js/bootstrap.min.js"></script>
	<script src="../static/js/control.js"></script>
	<script src="../static/js/control_header.js"></script>
	<script src="datos_ejemplo_prototipo.json"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	-->

	<!-- Otros -->
	<meta charset="utf-8"> 
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Ad-Libitum</title>

</head>

<body>

	<!-- Header incio -->
	<div class="navbar-more-overlay"></div>
	<nav class="navbar navbar-inverse navbar-fixed-top animate">
		<!-- Menu al darle click en mas en pantallas pequeñas-->
		<div class="container navbar-more visible-xs">
			<!-- Buscador en pantallas pequeñas -->
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<input class="buscador_principal form-control" type="text" placeholder="Buscar en Ad-Libitum...">
						<span class="input-group-btn">
		          <button class="btn btn-default" type="button">
		            <span class="glyphicon glyphicon-search"></span>
		          </button>
		        </span>
					</div>
				</div>
			</form>

			<ul class="nav navbar-nav">
				<li>
					<a href="#">
						<span class="menu-icon fa fa-phone"></span>		
						Contácto
					</a>
				</li>
				<!--<li>
					<a href="#">
						<span class="menu-icon fa fa-bell-o"></span>
						Reservations
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-picture-o"></span>
						Photos
					</a>
				</li>
				-->
			</ul>
		</div>
		<!-- Menu al darle click en mas en pantallas pequeñas Fin-->

		<div class="container">
			<div class="navbar-header hidden-xs">
				<a class="logo" href="index.html"> <img src="../static/images/logo.jpg"></a>
			</div>

			<ul class="nav navbar-nav navbar-right mobile-bar">
				<li class="hidden-xs">
					<!-- Buscador en la pagina -->
					<form class="input-group header_buscador ">
						<input class="buscador_principal form-control" type="text" data-action="grow" placeholder="Buscar en Ad-Libitum...">
						<span class="input-group-btn">
		          <button class="btn btn-default" type="button">
		            <span class="glyphicon glyphicon-search"></span>
		          </button>
		        </span>
					</form>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon fa fa-home"></span>
						Principal
					</a>
				</li>
				<li>
					<a href="#">
						<span class="menu-icon glyphicon glyphicon-calendar"></span>
						<span class="hidden-xs">Eventos musicales</span>
						<span class="visible-xs">Eventos</span>
					</a>
				</li>

				<li>
					<a href="#">
								
						<span class="hidden-xs">Contácto</span>
					</a>
				</li>



				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="menu-icon fa fa-user"></span>
						<span class="hidden-xs">Ingresa <span class="caret"></span></span>
						<span class="visible-xs">Ingresa</span>
					</a>

					<ul id="login-dp" class="dropdown-menu">
						<li>
							 <div class="row">
									<div class="col-md-12">

										Ingresar vía

										<div class="social-buttons">
											<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
											<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
										</div>

		                o con
										 <form id="login-nav" class="form" role="form" method="post"  accept-charset="UTF-8" >
												<div class="form-group">
													 <label class="sr-only" for="exampleInputEmail2">Email address</label>
													 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Correo electrónico" required>
												</div>
												<div class="form-group">
													 <label class="sr-only" for="exampleInputPassword2">Password</label>
													 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Contraseña" required>
		                       <div class="help-block text-right"><a href="">¿Olvidaste tu contraseña?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
												</div>
												<div class="checkbox">
													 <label>
													 <input type="checkbox"> mantener sesión iniciada

													 </label>
												</div>
										 </form>
									</div>
									<div class="bottom text-center">

										¿Eres nuevo aquí? <a href="./singup.html"><b>Registrarse</b></a>

									</div>
							 </div>
						</li>
					</ul>

				</li>

				<li class="visible-xs black_color">
					<a href="#navbar-more-show">
						<span class="menu-icon fa fa-bars"></span>
						Más
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Header fin-->


	<div class="margin-top margin-bottom">
		<div class="container">
			<div class="row">
				<div class="well well-sm" style="width: 50%; margin: auto">
					<legend><a class="logo" href="index.html"> <img src="../static/images/logo.jpg"></a> Regístrate</legend>
					<form action="#" method="post" class="form" role="form">
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<input class="form-control" name="firstname" placeholder="Nombre" type="text"
								required autofocus />
						</div>
						<div class="col-xs-6 col-md-6">
							<input class="form-control" name="lastname" placeholder="Apellido" type="text" required />

						</div>
					</div>
					<input class="form-control top-offset" name="youremail" placeholder="Correo electrónico" type="email" />
					<input class="form-control top-offset" name="reenteremail" placeholder="Reescribre tu correo" type="email" />
					<input class="form-control top-offset" name="password" placeholder="Constraseña" type="password" />
					<label class="top-offset" for="">
						Género</label>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<label class="radio-inline">
								<input type="radio" name="sex" id="inlineCheckbox1" value="male" />
								Hombre
							</label>
							<label class="radio-inline">
								<input type="radio" name="sex" id="inlineCheckbox2" value="female" />
								Mujer
							</label>
							<label class="radio-inline">
								<input type="radio" name="sex" id="inlineCheckbox3" value="none" />
								No binario
							</label>
						</div>
					</div>
					<br />
					<br />
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						Registrarse</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<footer class="navbar-fixed-bottom">
	    Copyright © 2018 Esta aplicación ha sido desarrollada por los estudiantes de Aplicaciones de Tecnología Internet del periodo  I-2017. Todos los derechos reservados.
	</footer>

</body>
</html>
